// app global css
html,
body {
	font-size: 16px;
	// line-height: 1em
	padding: 0;
	margin: 0;
	background-color: #eceff1;
	// background-color: $grey-2
	color: #555;
	// font-family: Lato,"PingFang SC","Microsoft YaHei",sans-serif
	// font-family: Quotes,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
	font-family:
		'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Heiti SC', 'WenQuanYi Micro Hei',
		sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	letter-spacing: 0.5px;

	// width: 100vw  //启用时出现页面宽度超窗口问题 原因不明

	&::-webkit-scrollbar {
		height: 5px !important;
		width: 0 !important;
		background-color: transparent !important;
	}

	// &::-webkit-scrollbar-thumb
	//   background: $blue-grey-2 !important
	//   border-radius: 8px !important
	//   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1) !important
}

.q-card,
.q-banner,
.q-table__card.q-btn {
	// cursor: pointer;
	border-radius: 10px !important;
	box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0);
	// &:hover {
	// 	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
	// }
}
